@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c5ebd6;
}

h1 {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-top: 20px;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
h2 {
    font-size: 1.5rem;
    color: #000000;
    margin-bottom: 10px;
}
p {
    font-size: 1rem;
    color: #0000007a;
    margin-bottom: 15px;
}
span {
    font-size: 1.2rem;
    color: #000000;
    font-weight: bold;
}
button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}