@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../imagens/fundo.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    width: 500px;
    background-color: rgba(0, 0, 0, 0.300);
    padding: 30px 40px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}


.login {
    position: relative;
    width: 100%;
    height: 30px;
    margin: 40px 0;
}

.login input {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.300);
    border: 2px solid rgba(255, 255, 255, 0.2);
    outline: none;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
    border-radius: 20px;
}

.login input::placeholder {
    color: #ffffff;
}

.login p {
    display: flex;
    font-size: 14px;
    color: #ffffff;
}

.botao {
    width: 100%;
    height: 40px;
    font-size: 16px;
    border: none;
    background-color: white;
    color: black;
    border-radius: 40px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    margin-top: 20px;
}

.botao:hover {
    background-color: #000000ae;
    color: white;
    transition: 0.5s;
}

.botao > a {
    text-decoration: none;
    color: rgb(81, 80, 80);
}

.botao a:hover {
    text-decoration: underline;
    color: white;
    transition: 0.5s;
}